$red: #a31f10;

.list-notes {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  overflow-y: scroll;
  list-style: none;
  .item-create {
    width: 20%;
    height: 20%;
    button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      background-color: white;
      color: $red;
      border: none;
      cursor: pointer;
      h6 {
        font-size: 16px;
        font-weight: bold;
        margin-top: 16px;
      }
    }
  }
  .item-note {
    width: 20%;
    height: 20%;
  }
}
