$red: #a31f10;

.list-notes {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-content: start;
  overflow-y: scroll;
  list-style: none;
  .item-create {
    width: 20%;
    height: 20%;
    button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      background-color: white;
      color: $red;
      border: none;
      cursor: pointer;
      h6 {
        font-size: 16px;
        font-weight: bold;
        margin-top: 16px;
      }
    }
  }
  .item-note {
    width: 20%;
    height: 20%;
    padding: 12px;
    overflow: hidden;
    .item-date{
      font-size: 12px;
    }
    .item-title{
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      font-size: 19px;
      margin-top: 8px;
    }
    .item-content{
      margin-top: 8px;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }
}
